.buttonAd {
	display: inline-block;
	border-radius: 4px;
	background-color: #555555;
	border: none;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 2px;
	width: 180px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.buttonAd span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonAd span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.buttonAd:hover span {
	padding-right: 25px;
}

.buttonAd:hover span:after {
	opacity: 1;
	right: 0;
}
